@import "tailwindcss";
@tailwind utilities;
@import "tailwindcss/preflight";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;

  background-image: radial-gradient(#d4d4d4 0.5px, transparent 0.5px);
  background-size: 15px 20px;
}